In [27]:
##Merging DataFrames
# we can consider an exampe for this, suppose we have students of a school and the staff of a school and if there is case where 
# some of the students are also a part of the staff of the school.So, if we want to find out the those who are part of students
# as well as staff, we can use the merge function in pandas
import pandas as pd
staff_df = pd.DataFrame([{'Name':'Navaneeth','Role':'Principal'},
                        {'Name':'Sagar','Role':'HOD'},
                        {'Name':'Pritam','Role':'Sports Leader'},
                        {'Name':'Aneesh','Role':'COE'}])
staff_df = staff_df.set_index('Name')

student_df = pd.DataFrame([{'Name':'Yuvraj','Branch':'ISE'},
                          {'Name':'Pritam','Branch':'ECE'},
                          {'Name':'Roshan','Branch':'EEE'},
                          {'Name':'Aneesh','Branch':'ECE'}])
student_df = student_df.set_index('Name')

print(staff_df.head())
print(student_df.head())

                    Role
Name
Navaneeth      Principal
Sagar                HOD
Pritam     Sports Leader
Aneesh               COE
       Branch
Name
Yuvraj    ISE
Pritam    ECE
Roshan    EEE
Aneesh    ECE

In [3]:
# As you can observe there is some overlap in both the DataFrames, 'Pritam' and 'Aneesh' are part of both, staff and student 
# DataFrames.
#If we want the Union of these, we would call merge passing in the DataFrame on the left and the DataFrame on the right and 
#telling merge that we want it to use an outer join. We would want to use the left and right indexes as the joining columns.
pd.merge(staff_df, student_df, how = 'outer', left_index = True, right_index = True )

                    Role Branch
Name
Aneesh               COE    ECE
Navaneeth      Principal    NaN
Pritam     Sports Leader    ECE
Roshan               NaN    EEE
Sagar                HOD    NaN
Yuvraj               NaN    ISE

In [4]:
# here Navaneeth doesn't have a branch, Roshan and Yuvraj doesn't have a role, so they are set as missing values or NaN.
#If we only want the intersection that is just those who are part of both students and staff then we must set the how parameter
# as inner
pd.merge(staff_df, student_df, how = 'inner', left_index = True, right_index = True )

                 Role Branch
Name
Pritam  Sports Leader    ECE
Aneesh            COE    ECE

In [5]:
# There can be two other common cases, where we want only the list of staff members irrespective of whether any of them are a 
# part of students or not. In this case, it can be considered as left join
pd.merge(staff_df,student_df, how = 'left', left_index = True, right_index = True)

                    Role Branch
Name
Navaneeth      Principal    NaN
Sagar                HOD    NaN
Pritam     Sports Leader    ECE
Aneesh               COE    ECE

In [6]:
# similarly the other way is also possible by using the right join
pd.merge(staff_df,student_df, how = 'right', left_index = True, right_index = True)

                 Role Branch
Name
Yuvraj            NaN    ISE
Pritam  Sports Leader    ECE
Roshan            NaN    EEE
Aneesh            COE    ECE

In [7]:
# we an do this in another way by using the on parameter of the merge function. Here we don't need the indices to join on, we 
# can use the columns aswell
pd.merge(staff_df,student_df, how = 'right', on = 'Name')

                 Role Branch
Name
Pritam  Sports Leader    ECE
Aneesh            COE    ECE
Yuvraj            NaN    ISE
Roshan            NaN    EEE

In [12]:
# Let's consider another case by adding location details to the above DataFrames
staff_df = pd.DataFrame([{'Name':'Navaneeth','Role':'Principal','Location':'Main Block'},
                        {'Name':'Sagar','Role':'HOD','Location':'ECE Dept'},
                        {'Name':'Pritam','Role':'Sports Leader','Location':'Class 310'},
                        {'Name':'Aneesh','Role':'COE','Location':'Class 310'}])


student_df = pd.DataFrame([{'Name':'Yuvraj','Branch':'ISE','Location':'Karwar'},
                          {'Name':'Aneesh','Branch':'ECE','Location':'Mangalore'},
                          {'Name':'Pritam','Branch':'ECE','Location':'Karwar'},
                          {'Name':'Roshan','Branch':'EEE','Location':'Udupi'}])
                         

# and now we want the staff members details irrespective of any of them is as a student or not
pd.merge(staff_df,student_df, how = 'left', on = 'Name')
# From the output, we can see that there are columns location_x and location_y. Location_x refers to the location column in the
# left dataframe which is the staff column and Location_y refers to the location column in the right dataframe which is the 
# student column

        Name           Role  Location_x Branch Location_y
0  Navaneeth      Principal  Main Block    NaN        NaN
1      Sagar            HOD    ECE Dept    NaN        NaN
2     Pritam  Sports Leader   Class 310    ECE     Karwar
3     Aneesh            COE   Class 310    ECE  Mangalore

In [15]:
# another case can be with names provided with first name and last name
staff_df = pd.DataFrame([{'First Name':'Navaneeth','Last Name':'Sharma','Role':'Principal'},
                        {'First Name':'Sagar','Last Name':'R','Role':'HOD'},
                        {'First Name':'Pritam','Last Name':'Kandula','Role':'Sports Leader'},
                        {'First Name':'Aneesh','Last Name':'Bhat','Role':'COE'}])

student_df = pd.DataFrame([{'First Name':'Yuvraj','Last Name':'Vernekar','Branch':'ISE'},
                          {'First Name':'Pritam','Last Name':'Kandula','Branch':'ECE'},
                          {'First Name':'Roshan','Last Name':'Shetty','Branch':'EEE'},
                          {'First Name':'Aneesh','Last Name':'Acharya','Branch':'ECE'}])
pd.merge(staff_df,student_df, how = 'inner', on = ['First Name','Last Name'])
# As you can see we used multi-indexing and can observe that Aneesh don't match on both the keys as they have different last
# names, so the inner join doesn't include these names at the output and presents only Pritam Kandula at the output

  First Name Last Name           Role Branch
0     Pritam   Kandula  Sports Leader    ECE

In [ ]:
# Let's perform some of the operations using datasets
# To supress some of the jupyter warnings and to ignore bad_lines I'm going to start the cell with a cell magic called 
# %%capture

In [16]:
%%capture
df_2011 = pd.read_csv("C:\\Users\\User\\Desktop\\python\\MERGED2011,12,13_PP.csv\\MERGED2011_PP.csv")
df_2012 = pd.read_csv("C:\\Users\\User\\Desktop\\python\\MERGED2011,12,13_PP.csv\\MERGED2012_PP.csv")
df_2013 = pd.read_csv("C:\\Users\\User\\Desktop\\python\\MERGED2011,12,13_PP.csv\\MERGED2013_PP.csv")

In [17]:
df_2011.head(3)

,UNITID,OPEID,opeid6,INSTNM,CITY,STABBR,ZIP,AccredAgency,INSTURL,NPCURL,...,PELL_RPY_3YR_RT_SUPP,NOPELL_RPY_3YR_RT_SUPP,FEMALE_RPY_3YR_RT_SUPP,MALE_RPY_3YR_RT_SUPP,FIRSTGEN_RPY_3YR_RT_SUPP,NOTFIRSTGEN_RPY_3YR_RT_SUPP,C150_L4_POOLED_SUPP,C150_4_POOLED_SUPP,C200_L4_POOLED_SUPP,C200_4_POOLED_SUPP
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,...,0.455279503106,0.5,0.504513540622,0.420550847458,0.470229007634,0.455089820359,NaN,NaN,NaN,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,...,0.732501356484,0.844773790952,0.790354330709,0.757345971564,0.761989342806,0.797997644287,NaN,NaN,NaN,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,...,0.5,0.636363636364,0.487012987013,0.609523809524,0.515625,0.577319587629,NaN,NaN,NaN,NaN

In [18]:
print(len(df_2011))
print(len(df_2012))
print(len(df_2013))

7675
7793
7804

In [20]:
# let's put all the 3 dataframes in a list and call the list frames and pass the list to concat() function and see how it looks
# like
frames = [df_2011,df_2012,df_2013]
pd.concat(frames)

,UNITID,OPEID,opeid6,INSTNM,CITY,STABBR,ZIP,AccredAgency,INSTURL,NPCURL,...,PELL_RPY_3YR_RT_SUPP,NOPELL_RPY_3YR_RT_SUPP,FEMALE_RPY_3YR_RT_SUPP,MALE_RPY_3YR_RT_SUPP,FIRSTGEN_RPY_3YR_RT_SUPP,NOTFIRSTGEN_RPY_3YR_RT_SUPP,C150_L4_POOLED_SUPP,C150_4_POOLED_SUPP,C200_L4_POOLED_SUPP,C200_4_POOLED_SUPP
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,...,0.455279503106,0.5,0.504513540622,0.420550847458,0.470229007634,0.455089820359,NaN,NaN,NaN,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,...,0.732501356484,0.844773790952,0.790354330709,0.757345971564,0.761989342806,0.797997644287,NaN,NaN,NaN,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,...,0.5,0.636363636364,0.487012987013,0.609523809524,0.515625,0.577319587629,NaN,NaN,NaN,NaN
3,100706,105500,1055,University of Alabama at Huntsville,Huntsville,AL,35899,NaN,NaN,NaN,...,0.735384615385,0.839116719243,0.775700934579,0.77975376197,0.774757281553,0.788643533123,NaN,NaN,NaN,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,NaN,NaN,NaN,...,0.308108108108,0.425287356322,0.354420731707,0.290803645402,0.300215982721,0.346017699115,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7799,48285703,157107,1571,Georgia Military College-Columbus Campus,Columbus,GA,31909,NaN,http://columbus.gmc.cc.ga.us/,NaN,...,0.427891480248,0.607753705815,0.490091055169,0.461751152074,0.490384615385,0.495152870992,NaN,NaN,NaN,NaN
7800,48285704,157101,1571,Georgia Military College-Valdosta Campus,Valdosta,GA,31605,NaN,http://valdosta.gmc.cc.ga.us/,NaN,...,0.427891480248,0.607753705815,0.490091055169,0.461751152074,0.490384615385,0.495152870992,NaN,NaN,NaN,NaN
7801,48285705,157105,1571,Georgia Military College-Warner Robins Campus,Warner Robins,GA,31093,NaN,http://robins.gmc.cc.ga.us/,NaN,...,0.427891480248,0.607753705815,0.490091055169,0.461751152074,0.490384615385,0.495152870992,NaN,NaN,NaN,NaN
7802,48285706,157100,1571,Georgia Military College-Online,Milledgeville,GA,31061,NaN,http://online.gmc.cc.ga.us/,NaN,...,0.427891480248,0.607753705815,0.490091055169,0.461751152074,0.490384615385,0.495152870992,NaN,NaN,NaN,NaN
7803,48285707,157103,1571,Georgia Military College-Stone Mountain,Stone Mountain,GA,30083,NaN,http://fairburn.gmc.cc.ga.us/,NaN,...,0.427891480248,0.607753705815,0.490091055169,0.461751152074,0.490384615385,0.495152870992,NaN,NaN,NaN,NaN

In [21]:
# we can see that the number of columns remain the same but the number of rows have increased after concatenation
len(df_2011)+len(df_2012)+len(df_2013)

23272

In [26]:
# After concatenation we don't know which data belongs to which year, so we can pass on another parameter keys in the concat()
# function
pd.concat(frames, keys = ['2011','2012','2013'])

             UNITID    OPEID  opeid6  \
2011 0       100654   100200    1002
     1       100663   105200    1052
     2       100690  2503400   25034
     3       100706   105500    1055
     4       100724   100500    1005
...             ...      ...     ...
2013 7799  48285703   157107    1571
     7800  48285704   157101    1571
     7801  48285705   157105    1571
     7802  48285706   157100    1571
     7803  48285707   157103    1571

                                                  INSTNM            CITY  \
2011 0                          Alabama A & M University          Normal
     1               University of Alabama at Birmingham      Birmingham
     2                                Amridge University      Montgomery
     3               University of Alabama at Huntsville      Huntsville
     4                          Alabama State University      Montgomery
...                                                  ...             ...
2013 7799       Georgia Military College-Columbus Campus        Columbus
     7800       Georgia Military College-Valdosta Campus        Valdosta
     7801  Georgia Military College-Warner Robins Campus   Warner Robins
     7802                Georgia Military College-Online   Milledgeville
     7803        Georgia Military College-Stone Mountain  Stone Mountain

          STABBR         ZIP AccredAgency                        INSTURL  \
2011 0        AL       35762          NaN                            NaN
     1        AL  35294-0110          NaN                            NaN
     2        AL  36117-3553          NaN                            NaN
     3        AL       35899          NaN                            NaN
     4        AL  36104-0271          NaN                            NaN
...          ...         ...          ...                            ...
2013 7799     GA       31909          NaN  http://columbus.gmc.cc.ga.us/
     7800     GA       31605          NaN  http://valdosta.gmc.cc.ga.us/
     7801     GA       31093          NaN    http://robins.gmc.cc.ga.us/
     7802     GA       31061          NaN    http://online.gmc.cc.ga.us/
     7803     GA       30083          NaN  http://fairburn.gmc.cc.ga.us/

          NPCURL  ...  PELL_RPY_3YR_RT_SUPP  NOPELL_RPY_3YR_RT_SUPP  \
2011 0       NaN  ...        0.455279503106                     0.5
     1       NaN  ...        0.732501356484          0.844773790952
     2       NaN  ...                   0.5          0.636363636364
     3       NaN  ...        0.735384615385          0.839116719243
     4       NaN  ...        0.308108108108          0.425287356322
...          ...  ...                   ...                     ...
2013 7799    NaN  ...        0.427891480248          0.607753705815
     7800    NaN  ...        0.427891480248          0.607753705815
     7801    NaN  ...        0.427891480248          0.607753705815
     7802    NaN  ...        0.427891480248          0.607753705815
     7803    NaN  ...        0.427891480248          0.607753705815

           FEMALE_RPY_3YR_RT_SUPP  MALE_RPY_3YR_RT_SUPP  \
2011 0             0.504513540622        0.420550847458
     1             0.790354330709        0.757345971564
     2             0.487012987013        0.609523809524
     3             0.775700934579         0.77975376197
     4             0.354420731707        0.290803645402
...                           ...                   ...
2013 7799          0.490091055169        0.461751152074
     7800          0.490091055169        0.461751152074
     7801          0.490091055169        0.461751152074
     7802          0.490091055169        0.461751152074
     7803          0.490091055169        0.461751152074

           FIRSTGEN_RPY_3YR_RT_SUPP  NOTFIRSTGEN_RPY_3YR_RT_SUPP  \
2011 0               0.470229007634               0.455089820359
     1               0.761989342806               0.797997644287
     2                     0.515625               0.577319587629
     3               0.774757281553               0.788643533123
     4               0.300215982721               0.346017699115
...                             ...                          ...
2013 7799            0.490384615385               0.495152870992
     7800            0.490384615385               0.495152870992
     7801            0.490384615385               0.495152870992
     7802            0.490384615385               0.495152870992
     7803            0.490384615385               0.495152870992

           C150_L4_POOLED_SUPP  C150_4_POOLED_SUPP  C200_L4_POOLED_SUPP  \
2011 0                     NaN                 NaN                  NaN
     1                     NaN                 NaN                  NaN
     2                     NaN                 NaN                  NaN
     3                     NaN                 NaN                  NaN
     4                     NaN                 NaN                  NaN
...                        ...                 ...                  ...
2013 7799                  NaN                 NaN                  NaN
     7800                  NaN                 NaN                  NaN
     7801                  NaN                 NaN                  NaN
     7802                  NaN                 NaN                  NaN
     7803                  NaN                 NaN                  NaN

           C200_4_POOLED_SUPP
2011 0                    NaN
     1                    NaN
     2                    NaN
     3                    NaN
     4                    NaN
...                       ...
2013 7799                 NaN
     7800                 NaN
     7801                 NaN
     7802                 NaN
     7803                 NaN

[23272 rows x 1729 columns]

In [3]:
## Pandas Idioms
#Python programmers will often suggests that there are many ways the language can be used to solve a particular problem, but 
#that some are more appropriate than others. The best solutions are celebrated as idiomatic Python, and there's lots of great 
#examples on StackOverflow or other websites. As a sub-language within Python, Pandas has its own set of idioms. We've alluded 
#to some of these already such as using vectorization wherever possible, and not using iterative loops if you don't need to. 
#Several developers and users within the Pandas community, have used the term pandorable for these idioms.
import pandas as pd
import numpy as np
import timeit

df = pd.read_csv("C:\\Users\\User\\Desktop\\python\\acs2017_census_tract_data.csv")
df.head()

,TractId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga County,1845,899,946,2.4,86.3,5.2,0.0,...,0.5,0.0,2.1,24.5,881,74.2,21.2,4.5,0.0,4.6
1,1001020200,Alabama,Autauga County,2172,1167,1005,1.1,41.6,54.5,0.0,...,0.0,0.5,0.0,22.2,852,75.9,15.0,9.0,0.0,3.4
2,1001020300,Alabama,Autauga County,3385,1533,1852,8.0,61.4,26.5,0.6,...,1.0,0.8,1.5,23.1,1482,73.3,21.1,4.8,0.7,4.7
3,1001020400,Alabama,Autauga County,4267,2001,2266,9.6,80.3,7.1,0.5,...,1.5,2.9,2.1,25.9,1849,75.8,19.7,4.5,0.0,6.1
4,1001020500,Alabama,Autauga County,9965,5054,4911,0.9,77.5,16.4,0.0,...,0.8,0.3,0.7,21.0,4787,71.4,24.1,4.5,0.0,2.3

In [11]:
#The first of the pandas idioms that I want to talk about is called method chaining. The general idea behind method chaining is
#that every method on object returns a reference to that object. The beauty of this is that you can condense many different 
#operations on a DataFrame, for instance into one line or at least one statement of code. 
#So here i'll try to extract the data state and county as a multiple index whose family work == 0.0 
#This is a pandorable way of writing the code
(df.where(df['FamilyWork']==0.0)
    .dropna()
    .set_index(['State','County'])
    .rename(columns={'FamilyWork':'Family Work'}))

                                  TractId  TotalPop     Men   Women  Hispanic  \
State       County
Alabama     Autauga County   1.001020e+09    1845.0   899.0   946.0       2.4
            Autauga County   1.001020e+09    2172.0  1167.0  1005.0       1.1
            Autauga County   1.001020e+09    4267.0  2001.0  2266.0       9.6
            Autauga County   1.001020e+09    9965.0  5054.0  4911.0       0.9
            Autauga County   1.001021e+09    3620.0  1765.0  1855.0       3.0
...                                   ...       ...     ...     ...       ...
Puerto Rico Yauco Municipio  7.215375e+10    6011.0  3035.0  2976.0      99.7
            Yauco Municipio  7.215375e+10    2342.0   959.0  1383.0      99.1
            Yauco Municipio  7.215375e+10    2218.0  1001.0  1217.0      99.5
            Yauco Municipio  7.215375e+10    4380.0  1964.0  2416.0     100.0
            Yauco Municipio  7.215375e+10    3001.0  1343.0  1658.0      99.2

                             White  Black  Native  Asian  Pacific  ...  Walk  \
State       County                                                 ...
Alabama     Autauga County    86.3    5.2     0.0    1.2      0.0  ...   0.5
            Autauga County    41.6   54.5     0.0    1.0      0.0  ...   0.0
            Autauga County    80.3    7.1     0.5    0.2      0.0  ...   1.5
            Autauga County    77.5   16.4     0.0    3.1      0.0  ...   0.8
            Autauga County    70.7   25.1     0.0    0.0      0.0  ...   0.7
...                            ...    ...     ...    ...      ...  ...   ...
Puerto Rico Yauco Municipio    0.3    0.0     0.0    0.0      0.0  ...   0.5
            Yauco Municipio    0.9    0.0     0.0    0.0      0.0  ...   0.0
            Yauco Municipio    0.2    0.0     0.0    0.2      0.0  ...   3.4
            Yauco Municipio    0.0    0.0     0.0    0.0      0.0  ...   0.0
            Yauco Municipio    0.8    0.0     0.0    0.0      0.0  ...   4.9

                             OtherTransp  WorkAtHome  MeanCommute  Employed  \
State       County
Alabama     Autauga County           0.0         2.1         24.5     881.0
            Autauga County           0.5         0.0         22.2     852.0
            Autauga County           2.9         2.1         25.9    1849.0
            Autauga County           0.3         0.7         21.0    4787.0
            Autauga County           3.5         8.0         21.1    1364.0
...                                  ...         ...          ...       ...
Puerto Rico Yauco Municipio          0.0         3.6         26.9    1576.0
            Yauco Municipio          0.0         1.3         25.3     666.0
            Yauco Municipio          0.0         3.4         23.5     560.0
            Yauco Municipio          0.0         0.0         24.1    1062.0
            Yauco Municipio          0.0         8.9         21.6     759.0

                             PrivateWork  PublicWork  SelfEmployed  \
State       County
Alabama     Autauga County          74.2        21.2           4.5
            Autauga County          75.9        15.0           9.0
            Autauga County          75.8        19.7           4.5
            Autauga County          71.4        24.1           4.5
            Autauga County          84.0        14.1           1.9
...                                  ...         ...           ...
Puerto Rico Yauco Municipio         59.2        33.8           7.0
            Yauco Municipio         58.4        35.4           6.2
            Yauco Municipio         57.5        34.5           8.0
            Yauco Municipio         67.7        30.4           1.9
            Yauco Municipio         75.9        19.1           5.0

                             Family Work  Unemployment
State       County
Alabama     Autauga County           0.0           4.6
            Autauga County           0.0           3.4
            Autauga County           0.0           6.1
            Autauga County           0.0           2.3
            Autauga County           0.0           6.1
...                                  ...           ...
Puerto Rico Yauco Municipio          0.0          20.8
            Yauco Municipio          0.0          26.3
            Yauco Municipio          0.0          23.0
            Yauco Municipio          0.0          29.5
            Yauco Municipio          0.0          17.9

[55761 rows x 35 columns]

In [24]:
#The non pandorable way of writing can be shown as below
df = df[df['FamilyWork'] == 0.0]
df.set_index(['State','County'],inplace = True)
df.rename(columns = {'FamilyWork':'family work'})

                                 TractId  TotalPop   Men  Women  Hispanic  \
State       County
Alabama     Autauga County    1001020100      1845   899    946       2.4
            Autauga County    1001020200      2172  1167   1005       1.1
            Autauga County    1001020400      4267  2001   2266       9.6
            Autauga County    1001020500      9965  5054   4911       0.9
            Autauga County    1001020600      3620  1765   1855       3.0
...                                  ...       ...   ...    ...       ...
Puerto Rico Yauco Municipio  72153750501      6011  3035   2976      99.7
            Yauco Municipio  72153750502      2342   959   1383      99.1
            Yauco Municipio  72153750503      2218  1001   1217      99.5
            Yauco Municipio  72153750601      4380  1964   2416     100.0
            Yauco Municipio  72153750602      3001  1343   1658      99.2

                             White  Black  Native  Asian  Pacific  ...  Walk  \
State       County                                                 ...
Alabama     Autauga County    86.3    5.2     0.0    1.2      0.0  ...   0.5
            Autauga County    41.6   54.5     0.0    1.0      0.0  ...   0.0
            Autauga County    80.3    7.1     0.5    0.2      0.0  ...   1.5
            Autauga County    77.5   16.4     0.0    3.1      0.0  ...   0.8
            Autauga County    70.7   25.1     0.0    0.0      0.0  ...   0.7
...                            ...    ...     ...    ...      ...  ...   ...
Puerto Rico Yauco Municipio    0.3    0.0     0.0    0.0      0.0  ...   0.5
            Yauco Municipio    0.9    0.0     0.0    0.0      0.0  ...   0.0
            Yauco Municipio    0.2    0.0     0.0    0.2      0.0  ...   3.4
            Yauco Municipio    0.0    0.0     0.0    0.0      0.0  ...   0.0
            Yauco Municipio    0.8    0.0     0.0    0.0      0.0  ...   4.9

                             OtherTransp  WorkAtHome  MeanCommute  Employed  \
State       County
Alabama     Autauga County           0.0         2.1         24.5       881
            Autauga County           0.5         0.0         22.2       852
            Autauga County           2.9         2.1         25.9      1849
            Autauga County           0.3         0.7         21.0      4787
            Autauga County           3.5         8.0         21.1      1364
...                                  ...         ...          ...       ...
Puerto Rico Yauco Municipio          0.0         3.6         26.9      1576
            Yauco Municipio          0.0         1.3         25.3       666
            Yauco Municipio          0.0         3.4         23.5       560
            Yauco Municipio          0.0         0.0         24.1      1062
            Yauco Municipio          0.0         8.9         21.6       759

                             PrivateWork  PublicWork  SelfEmployed  \
State       County
Alabama     Autauga County          74.2        21.2           4.5
            Autauga County          75.9        15.0           9.0
            Autauga County          75.8        19.7           4.5
            Autauga County          71.4        24.1           4.5
            Autauga County          84.0        14.1           1.9
...                                  ...         ...           ...
Puerto Rico Yauco Municipio         59.2        33.8           7.0
            Yauco Municipio         58.4        35.4           6.2
            Yauco Municipio         57.5        34.5           8.0
            Yauco Municipio         67.7        30.4           1.9
            Yauco Municipio         75.9        19.1           5.0

                             family work  Unemployment
State       County
Alabama     Autauga County           0.0           4.6
            Autauga County           0.0           3.4
            Autauga County           0.0           6.1
            Autauga County           0.0           2.3
            Autauga County           0.0           6.1
...                                  ...           ...
Puerto Rico Yauco Municipio          0.0          20.8
            Yauco Municipio          0.0          26.3
            Yauco Municipio          0.0          23.0
            Yauco Municipio          0.0          29.5
            Yauco Municipio          0.0          17.9

[56192 rows x 35 columns]

In [25]:
# Now we can compare both the ways by using the timeit function to check which one is faster. 
# We'll def this approach using a function and then pass this function to a timeit function to measure the time. And we'll run
# the function for 10 times
def first_approach():
    global df
    return (df.where(df['FamilyWork']==0.0)
                .dropna()
                .set_index(['State','County'])
                .rename(columns={'FamilyWork':'Family Work'}))

df = pd.read_csv("C:\\Users\\User\\Desktop\\python\\acs2017_census_tract_data.csv")

timeit.timeit(first_approach, number = 10)       #let's run it using the timeit function

7.7633012000001145

In [27]:
#Now let's test the second approach, and as you notice we're using the global variable df and the function. However changing a 
#global variable inside of a function will modify the variable even in a global scope and we don't want that to happen in this 
#case.
def second_approach():
    global df
    new_df = df[df['FamilyWork'] == 0.0]
    new_df.set_index(['State','County'],inplace = True)
    return new_df.rename(columns = {'FamilyWork':'family work'})

df = pd.read_csv("C:\\Users\\User\\Desktop\\python\\acs2017_census_tract_data.csv")

timeit.timeit(second_approach,number = 10)

0.7478799999998955

In [1]:
#we can see that the secon approach is faster than the first and this is an example of the classic time readability trade off
#There is another useful function named apply() which takes in a function as a parameter and the axis on which to operate on
#this function is commonly used with lambdas, a lambda is just an unnamed function in python

# Group by
Sometimes we want to select data based on groups and understand aggregated data at the group level. We've seen that even though
Pandas allows us to iterate every row in a data frame, it's generally very slow to do this. Fortunately, Pandas has a groupby 
function to speed up such tasks. The idea behind groupby is that it takes some data frame, splits it into chunks based on some 
key values, and then applies computation on those chunks, and then combines the result back together into another data frame. 
In Pandas, this is referred to as the split-apply-combine pattern.

In [1]:
#splitting
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("C:\\Users\\User\\Desktop\\python\\acs2015_census_tract_data.csv")
df.head()

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,0.5,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4
1,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.0,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3
2,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2
3,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,0.0,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8
4,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.0,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2

In [3]:
df = df[df['Native']==0.0]
df.head()

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
1,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.0,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3
4,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.0,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2
5,1001020600,Alabama,Autauga,3851,1787,2064,13.1,72.9,11.9,0.0,...,0.0,6.0,4.5,19.8,1560,79.4,14.7,5.8,0.0,10.9
6,1001020700,Alabama,Autauga,2761,1210,1551,3.8,74.5,19.7,0.0,...,0.0,0.0,0.0,20.0,1166,82.0,14.6,3.4,0.0,11.4
8,1001020802,Alabama,Autauga,10915,5486,5429,1.4,89.5,8.4,0.0,...,0.0,0.0,1.3,29.4,4348,73.3,22.1,4.6,0.0,8.7

In [4]:
#In the first example for groupby, I want to use this census date. Let's get a list of all the unique states then we can iterate
#over all of those states. For each state, we can reduce the dataframe and calculate the average. Let's run such a task for 
#three times and time it. For this, we're going use this cell magic function, percent percent timeit.

In [5]:
%%timeit -n 3

for state in df['State'].unique():
    avg = np.average(df.where(df['State']==state).dropna()['TotalPop'])
    print('Countries in state ' + state + ' have an average population of '+ str(avg))

Countries in state Alabama have an average population of 3755.4611801242236
Countries in state Alaska have an average population of 1912.5
Countries in state Arizona have an average population of 4145.947643979058
Countries in state Arkansas have an average population of 3955.3059210526317
Countries in state California have an average population of 4688.793872493805
Countries in state Colorado have an average population of 4130.519480519481
Countries in state Connecticut have an average population of 4294.602523659306
Countries in state Delaware have an average population of 3998.1221374045804
Countries in state District of Columbia have an average population of 3590.4959349593496
Countries in state Florida have an average population of 4678.477009477009
Countries in state Georgia have an average population of 4998.69037037037
Countries in state Hawaii have an average population of 4292.426470588235
Countries in state Idaho have an average population of 5521.9358974358975
Countries in state Illinois have an average population of 4123.134582623509
Countries in state Indiana have an average population of 4367.17868338558
Countries in state Iowa have an average population of 3830.294478527607
Countries in state Kansas have an average population of 3578.353448275862
Countries in state Kentucky have an average population of 3871.732894736842
Countries in state Louisiana have an average population of 3782.5342679127725
Countries in state Maine have an average population of 3523.4469696969695
Countries in state Maryland have an average population of 4192.561325966851
Countries in state Massachusetts have an average population of 4589.379528985507
Countries in state Michigan have an average population of 3474.6300533943554
Countries in state Minnesota have an average population of 4188.324675324675
Countries in state Mississippi have an average population of 4458.439130434783
Countries in state Missouri have an average population of 4242.485754985755
Countries in state Montana have an average population of 3325.3809523809523
Countries in state Nebraska have an average population of 3495.8712446351933
Countries in state Nevada have an average population of 3985.4895104895104
Countries in state New Hampshire have an average population of 4516.5497382198955
Countries in state New Jersey have an average population of 4443.671509791535
Countries in state New Mexico have an average population of 4275.185714285714
Countries in state New York have an average population of 4070.4847693646648
Countries in state North Carolina have an average population of 4369.326047358834
Countries in state North Dakota have an average population of 3141.4
Countries in state Ohio have an average population of 3941.8677119059284
Countries in state Oklahoma have an average population of 2123.6666666666665
Countries in state Oregon have an average population of 4734.152709359606
Countries in state Pennsylvania have an average population of 3968.93049705139
Countries in state Rhode Island have an average population of 4314.192052980133
Countries in state South Carolina have an average population of 4253.537681159421
Countries in state South Dakota have an average population of 3696.4166666666665
Countries in state Tennessee have an average population of 4359.604726100967
Countries in state Texas have an average population of 5026.426944354052
Countries in state Utah have an average population of 4931.287553648069
Countries in state Vermont have an average population of 3225.0833333333335
Countries in state Virginia have an average population of 4264.779547359598
Countries in state Washington have an average population of 4762.047619047619
Countries in state West Virginia have an average population of 3717.21613832853
Countries in state Wisconsin have an average population of 4111.345489443378
Countries in state Wyoming have an average population of 4526.775
Countries in state Puerto Rico have an average population of 4081.5172811059906
Countries in state Alabama have an average population of 3755.4611801242236
Countries in state Alaska have an average population of 1912.5
Countries in state Arizona have an average population of 4145.947643979058
Countries in state Arkansas have an average population of 3955.3059210526317
Countries in state California have an average population of 4688.793872493805
Countries in state Colorado have an average population of 4130.519480519481
Countries in state Connecticut have an average population of 4294.602523659306
Countries in state Delaware have an average population of 3998.1221374045804
Countries in state District of Columbia have an average population of 3590.4959349593496
Countries in state Florida have an average population of 4678.477009477009
Countries in state Georgia have an average population of 4998.69037037037
Countries in state Hawaii have an average population of 4292.426470588235
Countries in state Idaho have an average population of 5521.9358974358975
Countries in state Illinois have an average population of 4123.134582623509
Countries in state Indiana have an average population of 4367.17868338558
Countries in state Iowa have an average population of 3830.294478527607
Countries in state Kansas have an average population of 3578.353448275862
Countries in state Kentucky have an average population of 3871.732894736842
Countries in state Louisiana have an average population of 3782.5342679127725
Countries in state Maine have an average population of 3523.4469696969695
Countries in state Maryland have an average population of 4192.561325966851
Countries in state Massachusetts have an average population of 4589.379528985507
Countries in state Michigan have an average population of 3474.6300533943554
Countries in state Minnesota have an average population of 4188.324675324675
Countries in state Mississippi have an average population of 4458.439130434783
Countries in state Missouri have an average population of 4242.485754985755
Countries in state Montana have an average population of 3325.3809523809523
Countries in state Nebraska have an average population of 3495.8712446351933
Countries in state Nevada have an average population of 3985.4895104895104
Countries in state New Hampshire have an average population of 4516.5497382198955
Countries in state New Jersey have an average population of 4443.671509791535
Countries in state New Mexico have an average population of 4275.185714285714
Countries in state New York have an average population of 4070.4847693646648
Countries in state North Carolina have an average population of 4369.326047358834
Countries in state North Dakota have an average population of 3141.4
Countries in state Ohio have an average population of 3941.8677119059284
Countries in state Oklahoma have an average population of 2123.6666666666665
Countries in state Oregon have an average population of 4734.152709359606
Countries in state Pennsylvania have an average population of 3968.93049705139
Countries in state Rhode Island have an average population of 4314.192052980133
Countries in state South Carolina have an average population of 4253.537681159421
Countries in state South Dakota have an average population of 3696.4166666666665
Countries in state Tennessee have an average population of 4359.604726100967
Countries in state Texas have an average population of 5026.426944354052
Countries in state Utah have an average population of 4931.287553648069
Countries in state Vermont have an average population of 3225.0833333333335
Countries in state Virginia have an average population of 4264.779547359598
Countries in state Washington have an average population of 4762.047619047619
Countries in state West Virginia have an average population of 3717.21613832853
Countries in state Wisconsin have an average population of 4111.345489443378
Countries in state Wyoming have an average population of 4526.775
Countries in state Puerto Rico have an average population of 4081.5172811059906
Countries in state Alabama have an average population of 3755.4611801242236
Countries in state Alaska have an average population of 1912.5
Countries in state Arizona have an average population of 4145.947643979058
Countries in state Arkansas have an average population of 3955.3059210526317
Countries in state California have an average population of 4688.793872493805
Countries in state Colorado have an average population of 4130.519480519481
Countries in state Connecticut have an average population of 4294.602523659306
Countries in state Delaware have an average population of 3998.1221374045804
Countries in state District of Columbia have an average population of 3590.4959349593496
Countries in state Florida have an average population of 4678.477009477009
Countries in state Georgia have an average population of 4998.69037037037
Countries in state Hawaii have an average population of 4292.426470588235
Countries in state Idaho have an average population of 5521.9358974358975
Countries in state Illinois have an average population of 4123.134582623509
Countries in state Indiana have an average population of 4367.17868338558
Countries in state Iowa have an average population of 3830.294478527607
Countries in state Kansas have an average population of 3578.353448275862
Countries in state Kentucky have an average population of 3871.732894736842
Countries in state Louisiana have an average population of 3782.5342679127725
Countries in state Maine have an average population of 3523.4469696969695
Countries in state Maryland have an average population of 4192.561325966851
Countries in state Massachusetts have an average population of 4589.379528985507
Countries in state Michigan have an average population of 3474.6300533943554
Countries in state Minnesota have an average population of 4188.324675324675
Countries in state Mississippi have an average population of 4458.439130434783
Countries in state Missouri have an average population of 4242.485754985755
Countries in state Montana have an average population of 3325.3809523809523
Countries in state Nebraska have an average population of 3495.8712446351933
Countries in state Nevada have an average population of 3985.4895104895104
Countries in state New Hampshire have an average population of 4516.5497382198955
Countries in state New Jersey have an average population of 4443.671509791535
Countries in state New Mexico have an average population of 4275.185714285714
Countries in state New York have an average population of 4070.4847693646648
Countries in state North Carolina have an average population of 4369.326047358834
Countries in state North Dakota have an average population of 3141.4
Countries in state Ohio have an average population of 3941.8677119059284
Countries in state Oklahoma have an average population of 2123.6666666666665
Countries in state Oregon have an average population of 4734.152709359606
Countries in state Pennsylvania have an average population of 3968.93049705139
Countries in state Rhode Island have an average population of 4314.192052980133
Countries in state South Carolina have an average population of 4253.537681159421
Countries in state South Dakota have an average population of 3696.4166666666665
Countries in state Tennessee have an average population of 4359.604726100967
Countries in state Texas have an average population of 5026.426944354052
Countries in state Utah have an average population of 4931.287553648069
Countries in state Vermont have an average population of 3225.0833333333335
Countries in state Virginia have an average population of 4264.779547359598
Countries in state Washington have an average population of 4762.047619047619
Countries in state West Virginia have an average population of 3717.21613832853
Countries in state Wisconsin have an average population of 4111.345489443378
Countries in state Wyoming have an average population of 4526.775
Countries in state Puerto Rico have an average population of 4081.5172811059906
Countries in state Alabama have an average population of 3755.4611801242236
Countries in state Alaska have an average population of 1912.5
Countries in state Arizona have an average population of 4145.947643979058
Countries in state Arkansas have an average population of 3955.3059210526317
Countries in state California have an average population of 4688.793872493805
Countries in state Colorado have an average population of 4130.519480519481
Countries in state Connecticut have an average population of 4294.602523659306
Countries in state Delaware have an average population of 3998.1221374045804
Countries in state District of Columbia have an average population of 3590.4959349593496
Countries in state Florida have an average population of 4678.477009477009
Countries in state Georgia have an average population of 4998.69037037037
Countries in state Hawaii have an average population of 4292.426470588235
Countries in state Idaho have an average population of 5521.9358974358975
Countries in state Illinois have an average population of 4123.134582623509
Countries in state Indiana have an average population of 4367.17868338558
Countries in state Iowa have an average population of 3830.294478527607
Countries in state Kansas have an average population of 3578.353448275862
Countries in state Kentucky have an average population of 3871.732894736842
Countries in state Louisiana have an average population of 3782.5342679127725
Countries in state Maine have an average population of 3523.4469696969695
Countries in state Maryland have an average population of 4192.561325966851
Countries in state Massachusetts have an average population of 4589.379528985507
Countries in state Michigan have an average population of 3474.6300533943554
Countries in state Minnesota have an average population of 4188.324675324675
Countries in state Mississippi have an average population of 4458.439130434783
Countries in state Missouri have an average population of 4242.485754985755
Countries in state Montana have an average population of 3325.3809523809523
Countries in state Nebraska have an average population of 3495.8712446351933
Countries in state Nevada have an average population of 3985.4895104895104
Countries in state New Hampshire have an average population of 4516.5497382198955
Countries in state New Jersey have an average population of 4443.671509791535
Countries in state New Mexico have an average population of 4275.185714285714
Countries in state New York have an average population of 4070.4847693646648
Countries in state North Carolina have an average population of 4369.326047358834
Countries in state North Dakota have an average population of 3141.4
Countries in state Ohio have an average population of 3941.8677119059284
Countries in state Oklahoma have an average population of 2123.6666666666665
Countries in state Oregon have an average population of 4734.152709359606
Countries in state Pennsylvania have an average population of 3968.93049705139
Countries in state Rhode Island have an average population of 4314.192052980133
Countries in state South Carolina have an average population of 4253.537681159421
Countries in state South Dakota have an average population of 3696.4166666666665
Countries in state Tennessee have an average population of 4359.604726100967
Countries in state Texas have an average population of 5026.426944354052
Countries in state Utah have an average population of 4931.287553648069
Countries in state Vermont have an average population of 3225.0833333333335
Countries in state Virginia have an average population of 4264.779547359598
Countries in state Washington have an average population of 4762.047619047619
Countries in state West Virginia have an average population of 3717.21613832853
Countries in state Wisconsin have an average population of 4111.345489443378
Countries in state Wyoming have an average population of 4526.775
Countries in state Puerto Rico have an average population of 4081.5172811059906
Countries in state Alabama have an average population of 3755.4611801242236
Countries in state Alaska have an average population of 1912.5
Countries in state Arizona have an average population of 4145.947643979058
Countries in state Arkansas have an average population of 3955.3059210526317
Countries in state California have an average population of 4688.793872493805
Countries in state Colorado have an average population of 4130.519480519481
Countries in state Connecticut have an average population of 4294.602523659306
Countries in state Delaware have an average population of 3998.1221374045804
Countries in state District of Columbia have an average population of 3590.4959349593496
Countries in state Florida have an average population of 4678.477009477009
Countries in state Georgia have an average population of 4998.69037037037
Countries in state Hawaii have an average population of 4292.426470588235
Countries in state Idaho have an average population of 5521.9358974358975
Countries in state Illinois have an average population of 4123.134582623509
Countries in state Indiana have an average population of 4367.17868338558
Countries in state Iowa have an average population of 3830.294478527607
Countries in state Kansas have an average population of 3578.353448275862
Countries in state Kentucky have an average population of 3871.732894736842
Countries in state Louisiana have an average population of 3782.5342679127725
Countries in state Maine have an average population of 3523.4469696969695
Countries in state Maryland have an average population of 4192.561325966851
Countries in state Massachusetts have an average population of 4589.379528985507
Countries in state Michigan have an average population of 3474.6300533943554
Countries in state Minnesota have an average population of 4188.324675324675
Countries in state Mississippi have an average population of 4458.439130434783
Countries in state Missouri have an average population of 4242.485754985755
Countries in state Montana have an average population of 3325.3809523809523
Countries in state Nebraska have an average population of 3495.8712446351933
Countries in state Nevada have an average population of 3985.4895104895104
Countries in state New Hampshire have an average population of 4516.5497382198955
Countries in state New Jersey have an average population of 4443.671509791535
Countries in state New Mexico have an average population of 4275.185714285714
Countries in state New York have an average population of 4070.4847693646648
Countries in state North Carolina have an average population of 4369.326047358834
Countries in state North Dakota have an average population of 3141.4
Countries in state Ohio have an average population of 3941.8677119059284
Countries in state Oklahoma have an average population of 2123.6666666666665
Countries in state Oregon have an average population of 4734.152709359606
Countries in state Pennsylvania have an average population of 3968.93049705139
Countries in state Rhode Island have an average population of 4314.192052980133
Countries in state South Carolina have an average population of 4253.537681159421
Countries in state South Dakota have an average population of 3696.4166666666665
Countries in state Tennessee have an average population of 4359.604726100967
Countries in state Texas have an average population of 5026.426944354052
Countries in state Utah have an average population of 4931.287553648069
Countries in state Vermont have an average population of 3225.0833333333335
Countries in state Virginia have an average population of 4264.779547359598
Countries in state Washington have an average population of 4762.047619047619
Countries in state West Virginia have an average population of 3717.21613832853
Countries in state Wisconsin have an average population of 4111.345489443378
Countries in state Wyoming have an average population of 4526.775
Countries in state Puerto Rico have an average population of 4081.5172811059906
Countries in state Alabama have an average population of 3755.4611801242236
Countries in state Alaska have an average population of 1912.5

In [6]:
#if you scroll to the bottom of the output we can see that it takes a fair bit of time to process it. let's try another way by
# using the groupby() function

In [8]:
%%timeit -n 3
#Groupby actually returns a tuple where the first value is the value of the key that we're trying to group by, in this case a 
#specific state name. The second one is the projected dataframe that was found for this group
for group, frame in df.groupby('State'):
    avg = np.average(frame['TotalPop'])
    print('Countries in state ' + group + ' have an average population of '+ str(avg))

Countries in state Alabama have an average population of 3744.821981424149
Countries in state Alaska have an average population of 1279.3333333333333
Countries in state Arizona have an average population of 4063.501234567901
Countries in state Arkansas have an average population of 3942.511475409836
Countries in state California have an average population of 4660.7828125
Countries in state Colorado have an average population of 4110.500920810313
Countries in state Connecticut have an average population of 4285.4330218068535
Countries in state Delaware have an average population of 3998.1221374045804
Countries in state District of Columbia have an average population of 3558.5873015873017
Countries in state Florida have an average population of 4635.326192121631
Countries in state Georgia have an average population of 4991.173559822748
Countries in state Hawaii have an average population of 4178.028571428571
Countries in state Idaho have an average population of 5452.329113924051
Countries in state Illinois have an average population of 4117.477485131691
Countries in state Indiana have an average population of 4362.566528066528
Countries in state Iowa have an average population of 3827.1812627291242
Countries in state Kansas have an average population of 3563.012875536481
Countries in state Kentucky have an average population of 3856.5714285714284
Countries in state Louisiana have an average population of 3750.6373456790125
Countries in state Maine have an average population of 3523.4469696969695
Countries in state Maryland have an average population of 4180.445054945055
Countries in state Massachusetts have an average population of 4559.618149146451
Countries in state Michigan have an average population of 3452.0702947845807
Countries in state Minnesota have an average population of 4183.343412526998
Countries in state Mississippi have an average population of 4439.439393939394
Countries in state Missouri have an average population of 4226.71914893617
Countries in state Montana have an average population of 3325.3809523809523
Countries in state Nebraska have an average population of 3495.8712446351933
Countries in state Nevada have an average population of 3950.6791808873722
Countries in state New Hampshire have an average population of 4516.5497382198955
Countries in state New Jersey have an average population of 4425.867959949937
Countries in state New Mexico have an average population of 4275.185714285714
Countries in state New York have an average population of 4029.174199084668
Countries in state North Carolina have an average population of 4357.567150635209
Countries in state North Dakota have an average population of 3141.4
Countries in state Ohio have an average population of 3939.563325183374
Countries in state Oklahoma have an average population of 2034.4545454545455
Countries in state Oregon have an average population of 4734.152709359606
Countries in state Pennsylvania have an average population of 3953.3958944281526
Countries in state Puerto Rico have an average population of 4047.3518728717368
Countries in state Rhode Island have an average population of 4314.192052980133
Countries in state South Carolina have an average population of 4224.727011494253
Countries in state South Dakota have an average population of 3696.4166666666665
Countries in state Tennessee have an average population of 4327.740425531915
Countries in state Texas have an average population of 5008.952442575219
Countries in state Utah have an average population of 4890.706382978723
Countries in state Vermont have an average population of 3225.0833333333335
Countries in state Virginia have an average population of 4249.300083125519
Countries in state Washington have an average population of 4749.540897097625
Countries in state West Virginia have an average population of 3717.21613832853
Countries in state Wisconsin have an average population of 4106.309751434034
Countries in state Wyoming have an average population of 4526.775
Countries in state Alabama have an average population of 3744.821981424149
Countries in state Alaska have an average population of 1279.3333333333333
Countries in state Arizona have an average population of 4063.501234567901
Countries in state Arkansas have an average population of 3942.511475409836
Countries in state California have an average population of 4660.7828125
Countries in state Colorado have an average population of 4110.500920810313
Countries in state Connecticut have an average population of 4285.4330218068535
Countries in state Delaware have an average population of 3998.1221374045804
Countries in state District of Columbia have an average population of 3558.5873015873017
Countries in state Florida have an average population of 4635.326192121631
Countries in state Georgia have an average population of 4991.173559822748
Countries in state Hawaii have an average population of 4178.028571428571
Countries in state Idaho have an average population of 5452.329113924051
Countries in state Illinois have an average population of 4117.477485131691
Countries in state Indiana have an average population of 4362.566528066528
Countries in state Iowa have an average population of 3827.1812627291242
Countries in state Kansas have an average population of 3563.012875536481
Countries in state Kentucky have an average population of 3856.5714285714284
Countries in state Louisiana have an average population of 3750.6373456790125
Countries in state Maine have an average population of 3523.4469696969695
Countries in state Maryland have an average population of 4180.445054945055
Countries in state Massachusetts have an average population of 4559.618149146451
Countries in state Michigan have an average population of 3452.0702947845807
Countries in state Minnesota have an average population of 4183.343412526998
Countries in state Mississippi have an average population of 4439.439393939394
Countries in state Missouri have an average population of 4226.71914893617
Countries in state Montana have an average population of 3325.3809523809523
Countries in state Nebraska have an average population of 3495.8712446351933
Countries in state Nevada have an average population of 3950.6791808873722
Countries in state New Hampshire have an average population of 4516.5497382198955
Countries in state New Jersey have an average population of 4425.867959949937
Countries in state New Mexico have an average population of 4275.185714285714
Countries in state New York have an average population of 4029.174199084668
Countries in state North Carolina have an average population of 4357.567150635209
Countries in state North Dakota have an average population of 3141.4
Countries in state Ohio have an average population of 3939.563325183374
Countries in state Oklahoma have an average population of 2034.4545454545455
Countries in state Oregon have an average population of 4734.152709359606
Countries in state Pennsylvania have an average population of 3953.3958944281526
Countries in state Puerto Rico have an average population of 4047.3518728717368
Countries in state Rhode Island have an average population of 4314.192052980133
Countries in state South Carolina have an average population of 4224.727011494253
Countries in state South Dakota have an average population of 3696.4166666666665
Countries in state Tennessee have an average population of 4327.740425531915
Countries in state Texas have an average population of 5008.952442575219
Countries in state Utah have an average population of 4890.706382978723
Countries in state Vermont have an average population of 3225.0833333333335
Countries in state Virginia have an average population of 4249.300083125519
Countries in state Washington have an average population of 4749.540897097625
Countries in state West Virginia have an average population of 3717.21613832853
Countries in state Wisconsin have an average population of 4106.309751434034
Countries in state Wyoming have an average population of 4526.775
Countries in state Alabama have an average population of 3744.821981424149
Countries in state Alaska have an average population of 1279.3333333333333
Countries in state Arizona have an average population of 4063.501234567901
Countries in state Arkansas have an average population of 3942.511475409836
Countries in state California have an average population of 4660.7828125
Countries in state Colorado have an average population of 4110.500920810313
Countries in state Connecticut have an average population of 4285.4330218068535
Countries in state Delaware have an average population of 3998.1221374045804
Countries in state District of Columbia have an average population of 3558.5873015873017
Countries in state Florida have an average population of 4635.326192121631
Countries in state Georgia have an average population of 4991.173559822748
Countries in state Hawaii have an average population of 4178.028571428571
Countries in state Idaho have an average population of 5452.329113924051
Countries in state Illinois have an average population of 4117.477485131691
Countries in state Indiana have an average population of 4362.566528066528
Countries in state Iowa have an average population of 3827.1812627291242
Countries in state Kansas have an average population of 3563.012875536481
Countries in state Kentucky have an average population of 3856.5714285714284
Countries in state Louisiana have an average population of 3750.6373456790125
Countries in state Maine have an average population of 3523.4469696969695
Countries in state Maryland have an average population of 4180.445054945055
Countries in state Massachusetts have an average population of 4559.618149146451
Countries in state Michigan have an average population of 3452.0702947845807
Countries in state Minnesota have an average population of 4183.343412526998
Countries in state Mississippi have an average population of 4439.439393939394
Countries in state Missouri have an average population of 4226.71914893617
Countries in state Montana have an average population of 3325.3809523809523
Countries in state Nebraska have an average population of 3495.8712446351933
Countries in state Nevada have an average population of 3950.6791808873722
Countries in state New Hampshire have an average population of 4516.5497382198955
Countries in state New Jersey have an average population of 4425.867959949937
Countries in state New Mexico have an average population of 4275.185714285714
Countries in state New York have an average population of 4029.174199084668
Countries in state North Carolina have an average population of 4357.567150635209
Countries in state North Dakota have an average population of 3141.4
Countries in state Ohio have an average population of 3939.563325183374
Countries in state Oklahoma have an average population of 2034.4545454545455
Countries in state Oregon have an average population of 4734.152709359606
Countries in state Pennsylvania have an average population of 3953.3958944281526
Countries in state Puerto Rico have an average population of 4047.3518728717368
Countries in state Rhode Island have an average population of 4314.192052980133
Countries in state South Carolina have an average population of 4224.727011494253
Countries in state South Dakota have an average population of 3696.4166666666665
Countries in state Tennessee have an average population of 4327.740425531915
Countries in state Texas have an average population of 5008.952442575219
Countries in state Utah have an average population of 4890.706382978723
Countries in state Vermont have an average population of 3225.0833333333335
Countries in state Virginia have an average population of 4249.300083125519
Countries in state Washington have an average population of 4749.540897097625
Countries in state West Virginia have an average population of 3717.21613832853
Countries in state Wisconsin have an average population of 4106.309751434034
Countries in state Wyoming have an average population of 4526.775
Countries in state Alabama have an average population of 3744.821981424149
Countries in state Alaska have an average population of 1279.3333333333333
Countries in state Arizona have an average population of 4063.501234567901
Countries in state Arkansas have an average population of 3942.511475409836
Countries in state California have an average population of 4660.7828125
Countries in state Colorado have an average population of 4110.500920810313
Countries in state Connecticut have an average population of 4285.4330218068535
Countries in state Delaware have an average population of 3998.1221374045804
Countries in state District of Columbia have an average population of 3558.5873015873017
Countries in state Florida have an average population of 4635.326192121631
Countries in state Georgia have an average population of 4991.173559822748
Countries in state Hawaii have an average population of 4178.028571428571
Countries in state Idaho have an average population of 5452.329113924051
Countries in state Illinois have an average population of 4117.477485131691
Countries in state Indiana have an average population of 4362.566528066528
Countries in state Iowa have an average population of 3827.1812627291242
Countries in state Kansas have an average population of 3563.012875536481
Countries in state Kentucky have an average population of 3856.5714285714284
Countries in state Louisiana have an average population of 3750.6373456790125
Countries in state Maine have an average population of 3523.4469696969695
Countries in state Maryland have an average population of 4180.445054945055
Countries in state Massachusetts have an average population of 4559.618149146451
Countries in state Michigan have an average population of 3452.0702947845807
Countries in state Minnesota have an average population of 4183.343412526998
Countries in state Mississippi have an average population of 4439.439393939394
Countries in state Missouri have an average population of 4226.71914893617
Countries in state Montana have an average population of 3325.3809523809523
Countries in state Nebraska have an average population of 3495.8712446351933
Countries in state Nevada have an average population of 3950.6791808873722
Countries in state New Hampshire have an average population of 4516.5497382198955
Countries in state New Jersey have an average population of 4425.867959949937
Countries in state New Mexico have an average population of 4275.185714285714
Countries in state New York have an average population of 4029.174199084668
Countries in state North Carolina have an average population of 4357.567150635209
Countries in state North Dakota have an average population of 3141.4
Countries in state Ohio have an average population of 3939.563325183374
Countries in state Oklahoma have an average population of 2034.4545454545455
Countries in state Oregon have an average population of 4734.152709359606
Countries in state Pennsylvania have an average population of 3953.3958944281526
Countries in state Puerto Rico have an average population of 4047.3518728717368
Countries in state Rhode Island have an average population of 4314.192052980133
Countries in state South Carolina have an average population of 4224.727011494253
Countries in state South Dakota have an average population of 3696.4166666666665
Countries in state Tennessee have an average population of 4327.740425531915
Countries in state Texas have an average population of 5008.952442575219
Countries in state Utah have an average population of 4890.706382978723
Countries in state Vermont have an average population of 3225.0833333333335
Countries in state Virginia have an average population of 4249.300083125519
Countries in state Washington have an average population of 4749.540897097625
Countries in state West Virginia have an average population of 3717.21613832853
Countries in state Wisconsin have an average population of 4106.309751434034
Countries in state Wyoming have an average population of 4526.775
Countries in state Alabama have an average population of 3744.821981424149
Countries in state Alaska have an average population of 1279.3333333333333
Countries in state Arizona have an average population of 4063.501234567901
Countries in state Arkansas have an average population of 3942.511475409836
Countries in state California have an average population of 4660.7828125
Countries in state Colorado have an average population of 4110.500920810313
Countries in state Connecticut have an average population of 4285.4330218068535
Countries in state Delaware have an average population of 3998.1221374045804
Countries in state District of Columbia have an average population of 3558.5873015873017
Countries in state Florida have an average population of 4635.326192121631
Countries in state Georgia have an average population of 4991.173559822748
Countries in state Hawaii have an average population of 4178.028571428571
Countries in state Idaho have an average population of 5452.329113924051
Countries in state Illinois have an average population of 4117.477485131691
Countries in state Indiana have an average population of 4362.566528066528
Countries in state Iowa have an average population of 3827.1812627291242
Countries in state Kansas have an average population of 3563.012875536481
Countries in state Kentucky have an average population of 3856.5714285714284
Countries in state Louisiana have an average population of 3750.6373456790125
Countries in state Maine have an average population of 3523.4469696969695
Countries in state Maryland have an average population of 4180.445054945055
Countries in state Massachusetts have an average population of 4559.618149146451
Countries in state Michigan have an average population of 3452.0702947845807
Countries in state Minnesota have an average population of 4183.343412526998
Countries in state Mississippi have an average population of 4439.439393939394
Countries in state Missouri have an average population of 4226.71914893617
Countries in state Montana have an average population of 3325.3809523809523
Countries in state Nebraska have an average population of 3495.8712446351933
Countries in state Nevada have an average population of 3950.6791808873722
Countries in state New Hampshire have an average population of 4516.5497382198955
Countries in state New Jersey have an average population of 4425.867959949937
Countries in state New Mexico have an average population of 4275.185714285714
Countries in state New York have an average population of 4029.174199084668
Countries in state North Carolina have an average population of 4357.567150635209
Countries in state North Dakota have an average population of 3141.4
Countries in state Ohio have an average population of 3939.563325183374
Countries in state Oklahoma have an average population of 2034.4545454545455
Countries in state Oregon have an average population of 4734.152709359606
Countries in state Pennsylvania have an average population of 3953.3958944281526
Countries in state Puerto Rico have an average population of 4047.3518728717368
Countries in state Rhode Island have an average population of 4314.192052980133
Countries in state South Carolina have an average population of 4224.727011494253
Countries in state South Dakota have an average population of 3696.4166666666665
Countries in state Tennessee have an average population of 4327.740425531915
Countries in state Texas have an average population of 5008.952442575219
Countries in state Utah have an average population of 4890.706382978723
Countries in state Vermont have an average population of 3225.0833333333335
Countries in state Virginia have an average population of 4249.300083125519
Countries in state Washington have an average population of 4749.540897097625
Countries in state West Virginia have an average population of 3717.21613832853
Countries in state Wisconsin have an average population of 4106.309751434034
Countries in state Wyoming have an average population of 4526.775
Countries in state Alabama have an average population of 3744.821981424149

In [6]:
#another example, in this dataset we will focus on two columns 'neighbourhood_group' and 'number_of_reviews'
import pandas as pd
import numpy as np
df = pd.read_csv("C:\\Users\\User\\Desktop\\python\\AB_NYC_2019.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [7]:
df = df.set_index(['neighbourhood_group','number_of_reviews'])
#when we have multi index we need to specify the levels by which we are grouping by
for group, frame in df.groupby(level=(0,1)):
    print(group)

('Bronx', 0)
('Bronx', 1)
('Bronx', 2)
('Bronx', 3)
('Bronx', 4)
('Bronx', 5)
('Bronx', 6)
('Bronx', 7)
('Bronx', 8)
('Bronx', 9)
('Bronx', 10)
('Bronx', 11)
('Bronx', 12)
('Bronx', 13)
('Bronx', 14)
('Bronx', 15)
('Bronx', 16)
('Bronx', 17)
('Bronx', 18)
('Bronx', 19)
('Bronx', 20)
('Bronx', 21)
('Bronx', 22)
('Bronx', 23)
('Bronx', 24)
('Bronx', 25)
('Bronx', 26)
('Bronx', 27)
('Bronx', 28)
('Bronx', 29)
('Bronx', 30)
('Bronx', 31)
('Bronx', 32)
('Bronx', 33)
('Bronx', 34)
('Bronx', 35)
('Bronx', 36)
('Bronx', 37)
('Bronx', 38)
('Bronx', 39)
('Bronx', 40)
('Bronx', 41)
('Bronx', 42)
('Bronx', 43)
('Bronx', 44)
('Bronx', 45)
('Bronx', 46)
('Bronx', 47)
('Bronx', 48)
('Bronx', 49)
('Bronx', 50)
('Bronx', 51)
('Bronx', 52)
('Bronx', 53)
('Bronx', 54)
('Bronx', 55)
('Bronx', 56)
('Bronx', 57)
('Bronx', 58)
('Bronx', 59)
('Bronx', 60)
('Bronx', 61)
('Bronx', 62)
('Bronx', 63)
('Bronx', 64)
('Bronx', 65)
('Bronx', 66)
('Bronx', 67)
('Bronx', 68)
('Bronx', 69)
('Bronx', 70)
('Bronx', 71)
('Bronx', 73)
('Bronx', 74)
('Bronx', 75)
('Bronx', 76)
('Bronx', 77)
('Bronx', 79)
('Bronx', 80)
('Bronx', 81)
('Bronx', 82)
('Bronx', 83)
('Bronx', 84)
('Bronx', 85)
('Bronx', 86)
('Bronx', 89)
('Bronx', 90)
('Bronx', 91)
('Bronx', 92)
('Bronx', 94)
('Bronx', 95)
('Bronx', 97)
('Bronx', 98)
('Bronx', 100)
('Bronx', 101)
('Bronx', 103)
('Bronx', 104)
('Bronx', 105)
('Bronx', 106)
('Bronx', 107)
('Bronx', 108)
('Bronx', 109)
('Bronx', 110)
('Bronx', 112)
('Bronx', 113)
('Bronx', 114)
('Bronx', 115)
('Bronx', 116)
('Bronx', 117)
('Bronx', 118)
('Bronx', 119)
('Bronx', 120)
('Bronx', 121)
('Bronx', 122)
('Bronx', 127)
('Bronx', 130)
('Bronx', 132)
('Bronx', 135)
('Bronx', 138)
('Bronx', 142)
('Bronx', 143)
('Bronx', 147)
('Bronx', 151)
('Bronx', 152)
('Bronx', 156)
('Bronx', 169)
('Bronx', 170)
('Bronx', 182)
('Bronx', 185)
('Bronx', 187)
('Bronx', 189)
('Bronx', 190)
('Bronx', 192)
('Bronx', 197)
('Bronx', 199)
('Bronx', 202)
('Bronx', 205)
('Bronx', 206)
('Bronx', 219)
('Bronx', 227)
('Bronx', 231)
('Bronx', 235)
('Bronx', 258)
('Bronx', 266)
('Bronx', 271)
('Bronx', 276)
('Bronx', 291)
('Bronx', 321)
('Brooklyn', 0)
('Brooklyn', 1)
('Brooklyn', 2)
('Brooklyn', 3)
('Brooklyn', 4)
('Brooklyn', 5)
('Brooklyn', 6)
('Brooklyn', 7)
('Brooklyn', 8)
('Brooklyn', 9)
('Brooklyn', 10)
('Brooklyn', 11)
('Brooklyn', 12)
('Brooklyn', 13)
('Brooklyn', 14)
('Brooklyn', 15)
('Brooklyn', 16)
('Brooklyn', 17)
('Brooklyn', 18)
('Brooklyn', 19)
('Brooklyn', 20)
('Brooklyn', 21)
('Brooklyn', 22)
('Brooklyn', 23)
('Brooklyn', 24)
('Brooklyn', 25)
('Brooklyn', 26)
('Brooklyn', 27)
('Brooklyn', 28)
('Brooklyn', 29)
('Brooklyn', 30)
('Brooklyn', 31)
('Brooklyn', 32)
('Brooklyn', 33)
('Brooklyn', 34)
('Brooklyn', 35)
('Brooklyn', 36)
('Brooklyn', 37)
('Brooklyn', 38)
('Brooklyn', 39)
('Brooklyn', 40)
('Brooklyn', 41)
('Brooklyn', 42)
('Brooklyn', 43)
('Brooklyn', 44)
('Brooklyn', 45)
('Brooklyn', 46)
('Brooklyn', 47)
('Brooklyn', 48)
('Brooklyn', 49)
('Brooklyn', 50)
('Brooklyn', 51)
('Brooklyn', 52)
('Brooklyn', 53)
('Brooklyn', 54)
('Brooklyn', 55)
('Brooklyn', 56)
('Brooklyn', 57)
('Brooklyn', 58)
('Brooklyn', 59)
('Brooklyn', 60)
('Brooklyn', 61)
('Brooklyn', 62)
('Brooklyn', 63)
('Brooklyn', 64)
('Brooklyn', 65)
('Brooklyn', 66)
('Brooklyn', 67)
('Brooklyn', 68)
('Brooklyn', 69)
('Brooklyn', 70)
('Brooklyn', 71)
('Brooklyn', 72)
('Brooklyn', 73)
('Brooklyn', 74)
('Brooklyn', 75)
('Brooklyn', 76)
('Brooklyn', 77)
('Brooklyn', 78)
('Brooklyn', 79)
('Brooklyn', 80)
('Brooklyn', 81)
('Brooklyn', 82)
('Brooklyn', 83)
('Brooklyn', 84)
('Brooklyn', 85)
('Brooklyn', 86)
('Brooklyn', 87)
('Brooklyn', 88)
('Brooklyn', 89)
('Brooklyn', 90)
('Brooklyn', 91)
('Brooklyn', 92)
('Brooklyn', 93)
('Brooklyn', 94)
('Brooklyn', 95)
('Brooklyn', 96)
('Brooklyn', 97)
('Brooklyn', 98)
('Brooklyn', 99)
('Brooklyn', 100)
('Brooklyn', 101)
('Brooklyn', 102)
('Brooklyn', 103)
('Brooklyn', 104)
('Brooklyn', 105)
('Brooklyn', 106)
('Brooklyn', 107)
('Brooklyn', 108)
('Brooklyn', 109)
('Brooklyn', 110)
('Brooklyn', 111)
('Brooklyn', 112)
('Brooklyn', 113)
('Brooklyn', 114)
('Brooklyn', 115)
('Brooklyn', 116)
('Brooklyn', 117)
('Brooklyn', 118)
('Brooklyn', 119)
('Brooklyn', 120)
('Brooklyn', 121)
('Brooklyn', 122)
('Brooklyn', 123)
('Brooklyn', 124)
('Brooklyn', 125)
('Brooklyn', 126)
('Brooklyn', 127)
('Brooklyn', 128)
('Brooklyn', 129)
('Brooklyn', 130)
('Brooklyn', 131)
('Brooklyn', 132)
('Brooklyn', 133)
('Brooklyn', 134)
('Brooklyn', 135)
('Brooklyn', 136)
('Brooklyn', 137)
('Brooklyn', 138)
('Brooklyn', 139)
('Brooklyn', 140)
('Brooklyn', 141)
('Brooklyn', 142)
('Brooklyn', 143)
('Brooklyn', 144)
('Brooklyn', 145)
('Brooklyn', 146)
('Brooklyn', 147)
('Brooklyn', 148)
('Brooklyn', 149)
('Brooklyn', 150)
('Brooklyn', 151)
('Brooklyn', 152)
('Brooklyn', 153)
('Brooklyn', 154)
('Brooklyn', 155)
('Brooklyn', 156)
('Brooklyn', 157)
('Brooklyn', 158)
('Brooklyn', 159)
('Brooklyn', 160)
('Brooklyn', 161)
('Brooklyn', 162)
('Brooklyn', 163)
('Brooklyn', 164)
('Brooklyn', 165)
('Brooklyn', 166)
('Brooklyn', 167)
('Brooklyn', 168)
('Brooklyn', 169)
('Brooklyn', 170)
('Brooklyn', 171)
('Brooklyn', 172)
('Brooklyn', 173)
('Brooklyn', 174)
('Brooklyn', 175)
('Brooklyn', 176)
('Brooklyn', 177)
('Brooklyn', 178)
('Brooklyn', 179)
('Brooklyn', 180)
('Brooklyn', 181)
('Brooklyn', 182)
('Brooklyn', 183)
('Brooklyn', 184)
('Brooklyn', 185)
('Brooklyn', 186)
('Brooklyn', 187)
('Brooklyn', 188)
('Brooklyn', 189)
('Brooklyn', 190)
('Brooklyn', 191)
('Brooklyn', 192)
('Brooklyn', 193)
('Brooklyn', 194)
('Brooklyn', 195)
('Brooklyn', 197)
('Brooklyn', 198)
('Brooklyn', 199)
('Brooklyn', 200)
('Brooklyn', 201)
('Brooklyn', 202)
('Brooklyn', 203)
('Brooklyn', 204)
('Brooklyn', 205)
('Brooklyn', 206)
('Brooklyn', 207)
('Brooklyn', 208)
('Brooklyn', 209)
('Brooklyn', 210)
('Brooklyn', 211)
('Brooklyn', 213)
('Brooklyn', 214)
('Brooklyn', 215)
('Brooklyn', 216)
('Brooklyn', 218)
('Brooklyn', 219)
('Brooklyn', 220)
('Brooklyn', 221)
('Brooklyn', 222)
('Brooklyn', 223)
('Brooklyn', 224)
('Brooklyn', 225)
('Brooklyn', 226)
('Brooklyn', 227)
('Brooklyn', 228)
('Brooklyn', 229)
('Brooklyn', 230)
('Brooklyn', 231)
('Brooklyn', 232)
('Brooklyn', 233)
('Brooklyn', 234)
('Brooklyn', 236)
('Brooklyn', 237)
('Brooklyn', 238)
('Brooklyn', 239)
('Brooklyn', 240)
('Brooklyn', 241)
('Brooklyn', 242)
('Brooklyn', 243)
('Brooklyn', 244)
('Brooklyn', 245)
('Brooklyn', 247)
('Brooklyn', 248)
('Brooklyn', 249)
('Brooklyn', 250)
('Brooklyn', 251)
('Brooklyn', 252)
('Brooklyn', 253)
('Brooklyn', 254)
('Brooklyn', 255)
('Brooklyn', 256)
('Brooklyn', 257)
('Brooklyn', 258)
('Brooklyn', 259)
('Brooklyn', 260)
('Brooklyn', 262)
('Brooklyn', 263)
('Brooklyn', 264)
('Brooklyn', 266)
('Brooklyn', 267)
('Brooklyn', 268)
('Brooklyn', 269)
('Brooklyn', 270)
('Brooklyn', 271)
('Brooklyn', 272)
('Brooklyn', 273)
('Brooklyn', 279)
('Brooklyn', 280)
('Brooklyn', 281)
('Brooklyn', 282)
('Brooklyn', 284)
('Brooklyn', 287)
('Brooklyn', 291)
('Brooklyn', 294)
('Brooklyn', 295)
('Brooklyn', 296)
('Brooklyn', 302)
('Brooklyn', 305)
('Brooklyn', 308)
('Brooklyn', 309)
('Brooklyn', 314)
('Brooklyn', 315)
('Brooklyn', 319)
('Brooklyn', 320)
('Brooklyn', 323)
('Brooklyn', 324)
('Brooklyn', 327)
('Brooklyn', 328)
('Brooklyn', 332)
('Brooklyn', 334)
('Brooklyn', 335)
('Brooklyn', 336)
('Brooklyn', 338)
('Brooklyn', 339)
('Brooklyn', 340)
('Brooklyn', 349)
('Brooklyn', 350)
('Brooklyn', 351)
('Brooklyn', 354)
('Brooklyn', 356)
('Brooklyn', 357)
('Brooklyn', 358)
('Brooklyn', 360)
('Brooklyn', 363)
('Brooklyn', 370)
('Brooklyn', 372)
('Brooklyn', 374)
('Brooklyn', 378)
('Brooklyn', 385)
('Brooklyn', 397)
('Brooklyn', 398)
('Brooklyn', 401)
('Brooklyn', 404)
('Brooklyn', 426)
('Brooklyn', 467)
('Brooklyn', 480)
('Brooklyn', 488)
('Manhattan', 0)
('Manhattan', 1)
('Manhattan', 2)
('Manhattan', 3)
('Manhattan', 4)
('Manhattan', 5)
('Manhattan', 6)
('Manhattan', 7)
('Manhattan', 8)
('Manhattan', 9)
('Manhattan', 10)
('Manhattan', 11)
('Manhattan', 12)
('Manhattan', 13)
('Manhattan', 14)
('Manhattan', 15)
('Manhattan', 16)
('Manhattan', 17)
('Manhattan', 18)
('Manhattan', 19)
('Manhattan', 20)
('Manhattan', 21)
('Manhattan', 22)
('Manhattan', 23)
('Manhattan', 24)
('Manhattan', 25)
('Manhattan', 26)
('Manhattan', 27)
('Manhattan', 28)
('Manhattan', 29)
('Manhattan', 30)
('Manhattan', 31)
('Manhattan', 32)
('Manhattan', 33)
('Manhattan', 34)
('Manhattan', 35)
('Manhattan', 36)
('Manhattan', 37)
('Manhattan', 38)
('Manhattan', 39)
('Manhattan', 40)
('Manhattan', 41)
('Manhattan', 42)
('Manhattan', 43)
('Manhattan', 44)
('Manhattan', 45)
('Manhattan', 46)
('Manhattan', 47)
('Manhattan', 48)
('Manhattan', 49)
('Manhattan', 50)
('Manhattan', 51)
('Manhattan', 52)
('Manhattan', 53)
('Manhattan', 54)
('Manhattan', 55)
('Manhattan', 56)
('Manhattan', 57)
('Manhattan', 58)
('Manhattan', 59)
('Manhattan', 60)
('Manhattan', 61)
('Manhattan', 62)
('Manhattan', 63)
('Manhattan', 64)
('Manhattan', 65)
('Manhattan', 66)
('Manhattan', 67)
('Manhattan', 68)
('Manhattan', 69)
('Manhattan', 70)
('Manhattan', 71)
('Manhattan', 72)
('Manhattan', 73)
('Manhattan', 74)
('Manhattan', 75)
('Manhattan', 76)
('Manhattan', 77)
('Manhattan', 78)
('Manhattan', 79)
('Manhattan', 80)
('Manhattan', 81)
('Manhattan', 82)
('Manhattan', 83)
('Manhattan', 84)
('Manhattan', 85)
('Manhattan', 86)
('Manhattan', 87)
('Manhattan', 88)
('Manhattan', 89)
('Manhattan', 90)
('Manhattan', 91)
('Manhattan', 92)
('Manhattan', 93)
('Manhattan', 94)
('Manhattan', 95)
('Manhattan', 96)
('Manhattan', 97)
('Manhattan', 98)
('Manhattan', 99)
('Manhattan', 100)
('Manhattan', 101)
('Manhattan', 102)
('Manhattan', 103)
('Manhattan', 104)
('Manhattan', 105)
('Manhattan', 106)
('Manhattan', 107)
('Manhattan', 108)
('Manhattan', 109)
('Manhattan', 110)
('Manhattan', 111)
('Manhattan', 112)
('Manhattan', 113)
('Manhattan', 114)
('Manhattan', 115)
('Manhattan', 116)
('Manhattan', 117)
('Manhattan', 118)
('Manhattan', 119)
('Manhattan', 120)
('Manhattan', 121)
('Manhattan', 122)
('Manhattan', 123)
('Manhattan', 124)
('Manhattan', 125)
('Manhattan', 126)
('Manhattan', 127)
('Manhattan', 128)
('Manhattan', 129)
('Manhattan', 130)
('Manhattan', 131)
('Manhattan', 132)
('Manhattan', 133)
('Manhattan', 134)
('Manhattan', 135)
('Manhattan', 136)
('Manhattan', 137)
('Manhattan', 138)
('Manhattan', 139)
('Manhattan', 140)
('Manhattan', 141)
('Manhattan', 142)
('Manhattan', 143)
('Manhattan', 144)
('Manhattan', 145)
('Manhattan', 146)
('Manhattan', 147)
('Manhattan', 148)
('Manhattan', 149)
('Manhattan', 150)
('Manhattan', 151)
('Manhattan', 152)
('Manhattan', 153)
('Manhattan', 154)
('Manhattan', 155)
('Manhattan', 156)
('Manhattan', 157)
('Manhattan', 158)
('Manhattan', 159)
('Manhattan', 160)
('Manhattan', 161)
('Manhattan', 162)
('Manhattan', 163)
('Manhattan', 164)
('Manhattan', 165)
('Manhattan', 166)
('Manhattan', 167)
('Manhattan', 168)
('Manhattan', 169)
('Manhattan', 170)
('Manhattan', 171)
('Manhattan', 172)
('Manhattan', 173)
('Manhattan', 174)
('Manhattan', 175)
('Manhattan', 176)
('Manhattan', 177)
('Manhattan', 178)
('Manhattan', 179)
('Manhattan', 180)
('Manhattan', 181)
('Manhattan', 182)
('Manhattan', 183)
('Manhattan', 184)
('Manhattan', 185)
('Manhattan', 186)
('Manhattan', 187)
('Manhattan', 188)
('Manhattan', 189)
('Manhattan', 190)
('Manhattan', 191)
('Manhattan', 192)
('Manhattan', 193)
('Manhattan', 194)
('Manhattan', 195)
('Manhattan', 196)
('Manhattan', 197)
('Manhattan', 198)
('Manhattan', 199)
('Manhattan', 200)
('Manhattan', 201)
('Manhattan', 202)
('Manhattan', 203)
('Manhattan', 204)
('Manhattan', 205)
('Manhattan', 206)
('Manhattan', 207)
('Manhattan', 208)
('Manhattan', 209)
('Manhattan', 210)
('Manhattan', 211)
('Manhattan', 212)
('Manhattan', 213)
('Manhattan', 214)
('Manhattan', 216)
('Manhattan', 218)
('Manhattan', 219)
('Manhattan', 220)
('Manhattan', 221)
('Manhattan', 222)
('Manhattan', 223)
('Manhattan', 225)
('Manhattan', 226)
('Manhattan', 227)
('Manhattan', 228)
('Manhattan', 229)
('Manhattan', 230)
('Manhattan', 231)
('Manhattan', 232)
('Manhattan', 233)
('Manhattan', 234)
('Manhattan', 235)
('Manhattan', 237)
('Manhattan', 238)
('Manhattan', 239)
('Manhattan', 240)
('Manhattan', 241)
('Manhattan', 242)
('Manhattan', 243)
('Manhattan', 244)
('Manhattan', 245)
('Manhattan', 246)
('Manhattan', 247)
('Manhattan', 248)
('Manhattan', 249)
('Manhattan', 250)
('Manhattan', 251)
('Manhattan', 252)
('Manhattan', 254)
('Manhattan', 255)
('Manhattan', 257)
('Manhattan', 258)
('Manhattan', 259)
('Manhattan', 260)
('Manhattan', 261)
('Manhattan', 262)
('Manhattan', 263)
('Manhattan', 265)
('Manhattan', 266)
('Manhattan', 267)
('Manhattan', 268)
('Manhattan', 269)
('Manhattan', 270)
('Manhattan', 271)
('Manhattan', 272)
('Manhattan', 273)
('Manhattan', 274)
('Manhattan', 275)
('Manhattan', 276)
('Manhattan', 277)
('Manhattan', 278)
('Manhattan', 280)
('Manhattan', 281)
('Manhattan', 285)
('Manhattan', 286)
('Manhattan', 287)
('Manhattan', 288)
('Manhattan', 289)
('Manhattan', 290)
('Manhattan', 292)
('Manhattan', 295)
('Manhattan', 297)
('Manhattan', 298)
('Manhattan', 299)
('Manhattan', 307)
('Manhattan', 309)
('Manhattan', 314)
('Manhattan', 315)
('Manhattan', 318)
('Manhattan', 319)
('Manhattan', 320)
('Manhattan', 321)
('Manhattan', 322)
('Manhattan', 323)
('Manhattan', 325)
('Manhattan', 326)
('Manhattan', 327)
('Manhattan', 330)
('Manhattan', 334)
('Manhattan', 338)
('Manhattan', 347)
('Manhattan', 353)
('Manhattan', 358)
('Manhattan', 360)
('Manhattan', 365)
('Manhattan', 375)
('Manhattan', 380)
('Manhattan', 388)
('Manhattan', 389)
('Manhattan', 394)
('Manhattan', 395)
('Manhattan', 396)
('Manhattan', 401)
('Manhattan', 403)
('Manhattan', 414)
('Manhattan', 430)
('Manhattan', 439)
('Manhattan', 447)
('Manhattan', 451)
('Manhattan', 458)
('Manhattan', 540)
('Manhattan', 594)
('Manhattan', 597)
('Manhattan', 607)
('Queens', 0)
('Queens', 1)
('Queens', 2)
('Queens', 3)
('Queens', 4)
('Queens', 5)
('Queens', 6)
('Queens', 7)
('Queens', 8)
('Queens', 9)
('Queens', 10)
('Queens', 11)
('Queens', 12)
('Queens', 13)
('Queens', 14)
('Queens', 15)
('Queens', 16)
('Queens', 17)
('Queens', 18)
('Queens', 19)
('Queens', 20)
('Queens', 21)
('Queens', 22)
('Queens', 23)
('Queens', 24)
('Queens', 25)
('Queens', 26)
('Queens', 27)
('Queens', 28)
('Queens', 29)
('Queens', 30)
('Queens', 31)
('Queens', 32)
('Queens', 33)
('Queens', 34)
('Queens', 35)
('Queens', 36)
('Queens', 37)
('Queens', 38)
('Queens', 39)
('Queens', 40)
('Queens', 41)
('Queens', 42)
('Queens', 43)
('Queens', 44)
('Queens', 45)
('Queens', 46)
('Queens', 47)
('Queens', 48)
('Queens', 49)
('Queens', 50)
('Queens', 51)
('Queens', 52)
('Queens', 53)
('Queens', 54)
('Queens', 55)
('Queens', 56)
('Queens', 57)
('Queens', 58)
('Queens', 59)
('Queens', 60)
('Queens', 61)
('Queens', 62)
('Queens', 63)
('Queens', 64)
('Queens', 65)
('Queens', 66)
('Queens', 67)
('Queens', 68)
('Queens', 69)
('Queens', 70)
('Queens', 71)
('Queens', 72)
('Queens', 73)
('Queens', 74)
('Queens', 75)
('Queens', 76)
('Queens', 77)
('Queens', 78)
('Queens', 79)
('Queens', 80)
('Queens', 81)
('Queens', 82)
('Queens', 83)
('Queens', 84)
('Queens', 85)
('Queens', 86)
('Queens', 87)
('Queens', 88)
('Queens', 89)
('Queens', 90)
('Queens', 91)
('Queens', 92)
('Queens', 93)
('Queens', 94)
('Queens', 95)
('Queens', 96)
('Queens', 97)
('Queens', 98)
('Queens', 99)
('Queens', 100)
('Queens', 101)
('Queens', 102)
('Queens', 103)
('Queens', 104)
('Queens', 105)
('Queens', 106)
('Queens', 107)
('Queens', 108)
('Queens', 109)
('Queens', 110)
('Queens', 111)
('Queens', 112)
('Queens', 113)
('Queens', 114)
('Queens', 115)
('Queens', 116)
('Queens', 117)
('Queens', 118)
('Queens', 119)
('Queens', 120)
('Queens', 121)
('Queens', 122)
('Queens', 123)
('Queens', 124)
('Queens', 125)
('Queens', 126)
('Queens', 127)
('Queens', 128)
('Queens', 129)
('Queens', 130)
('Queens', 131)
('Queens', 132)
('Queens', 133)
('Queens', 134)
('Queens', 135)
('Queens', 136)
('Queens', 137)
('Queens', 138)
('Queens', 139)
('Queens', 140)
('Queens', 141)
('Queens', 142)
('Queens', 143)
('Queens', 144)
('Queens', 145)
('Queens', 146)
('Queens', 147)
('Queens', 148)
('Queens', 149)
('Queens', 150)
('Queens', 151)
('Queens', 152)
('Queens', 153)
('Queens', 154)
('Queens', 155)
('Queens', 156)
('Queens', 157)
('Queens', 158)
('Queens', 160)
('Queens', 161)
('Queens', 162)
('Queens', 164)
('Queens', 165)
('Queens', 166)
('Queens', 168)
('Queens', 169)
('Queens', 170)
('Queens', 171)
('Queens', 172)
('Queens', 173)
('Queens', 175)
('Queens', 176)
('Queens', 177)
('Queens', 178)
('Queens', 179)
('Queens', 182)
('Queens', 183)
('Queens', 184)
('Queens', 185)
('Queens', 186)
('Queens', 187)
('Queens', 188)
('Queens', 189)
('Queens', 190)
('Queens', 191)
('Queens', 192)
('Queens', 196)
('Queens', 197)
('Queens', 198)
('Queens', 201)
('Queens', 202)
('Queens', 204)
('Queens', 206)
('Queens', 207)
('Queens', 208)
('Queens', 209)
('Queens', 210)
('Queens', 211)
('Queens', 212)
('Queens', 214)
('Queens', 216)
('Queens', 217)
('Queens', 218)
('Queens', 219)
('Queens', 220)
('Queens', 222)
('Queens', 224)
('Queens', 227)
('Queens', 229)
('Queens', 231)
('Queens', 235)
('Queens', 237)
('Queens', 239)
('Queens', 240)
('Queens', 243)
('Queens', 244)
('Queens', 248)
('Queens', 251)
('Queens', 252)
('Queens', 254)
('Queens', 255)
('Queens', 256)
('Queens', 257)
('Queens', 258)
('Queens', 259)
('Queens', 260)
('Queens', 262)
('Queens', 268)
('Queens', 270)
('Queens', 272)
('Queens', 274)
('Queens', 275)
('Queens', 279)
('Queens', 281)
('Queens', 289)
('Queens', 296)
('Queens', 302)
('Queens', 304)
('Queens', 305)
('Queens', 306)
('Queens', 310)
('Queens', 313)
('Queens', 325)
('Queens', 333)
('Queens', 336)
('Queens', 341)
('Queens', 347)
('Queens', 352)
('Queens', 356)
('Queens', 368)
('Queens', 375)
('Queens', 386)
('Queens', 392)
('Queens', 403)
('Queens', 408)
('Queens', 411)
('Queens', 412)
('Queens', 414)
('Queens', 417)
('Queens', 424)
('Queens', 426)
('Queens', 430)
('Queens', 434)
('Queens', 436)
('Queens', 441)
('Queens', 448)
('Queens', 454)
('Queens', 459)
('Queens', 466)
('Queens', 474)
('Queens', 510)
('Queens', 543)
('Queens', 576)
('Queens', 629)
('Staten Island', 0)
('Staten Island', 1)
('Staten Island', 2)
('Staten Island', 3)
('Staten Island', 4)
('Staten Island', 5)
('Staten Island', 6)
('Staten Island', 7)
('Staten Island', 8)
('Staten Island', 9)
('Staten Island', 10)
('Staten Island', 11)
('Staten Island', 12)
('Staten Island', 13)
('Staten Island', 14)
('Staten Island', 15)
('Staten Island', 16)
('Staten Island', 17)
('Staten Island', 18)
('Staten Island', 19)
('Staten Island', 20)
('Staten Island', 21)
('Staten Island', 22)
('Staten Island', 23)
('Staten Island', 24)
('Staten Island', 25)
('Staten Island', 26)
('Staten Island', 27)
('Staten Island', 29)
('Staten Island', 30)
('Staten Island', 32)
('Staten Island', 34)
('Staten Island', 35)
('Staten Island', 36)
('Staten Island', 37)
('Staten Island', 38)
('Staten Island', 39)
('Staten Island', 40)
('Staten Island', 42)
('Staten Island', 43)
('Staten Island', 45)
('Staten Island', 47)
('Staten Island', 48)
('Staten Island', 49)
('Staten Island', 50)
('Staten Island', 51)
('Staten Island', 52)
('Staten Island', 53)
('Staten Island', 54)
('Staten Island', 56)
('Staten Island', 59)
('Staten Island', 60)
('Staten Island', 61)
('Staten Island', 62)
('Staten Island', 63)
('Staten Island', 64)
('Staten Island', 65)
('Staten Island', 68)
('Staten Island', 69)
('Staten Island', 70)
('Staten Island', 73)
('Staten Island', 74)
('Staten Island', 76)
('Staten Island', 77)
('Staten Island', 79)
('Staten Island', 80)
('Staten Island', 81)
('Staten Island', 82)
('Staten Island', 83)
('Staten Island', 86)
('Staten Island', 87)
('Staten Island', 88)
('Staten Island', 90)
('Staten Island', 93)
('Staten Island', 96)
('Staten Island', 97)
('Staten Island', 100)
('Staten Island', 103)
('Staten Island', 105)
('Staten Island', 108)
('Staten Island', 110)
('Staten Island', 112)
('Staten Island', 116)
('Staten Island', 117)
('Staten Island', 118)
('Staten Island', 129)

In [8]:
#The panda's developers have three broad categories of data processing to happen during the apply step. Aggregations of group 
#data, transformation of group data, and filtration of group data.

## Aggregation

In [9]:
#The most straightforward apply step is the aggregation of data. This uses a method called agg() on the groupby object. Thus far,
#we've only iterated through the groupby object, unpacking it into a label, the group name, and a DataFrame. But with agg, we 
#can pass in a dictionary of the columns we are interested in aggregating along with the function that we're looking to apply.

In [10]:
df =df.reset_index()

In [12]:
# let's group by the neighbourhood_group and find the average number_of_reviews
df.groupby('neighbourhood_group').agg({'number_of_reviews':np.average})

C:\Users\User\Documents\anaconda3\lib\site-packages\numpy\lib\function_base.py:393: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
C:\Users\User\Documents\anaconda3\lib\site-packages\numpy\core\_methods.py:161: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

                     number_of_reviews
neighbourhood_group
Bronx                        26.004583
Brooklyn                     24.202845
Manhattan                    20.985596
Queens                       27.700318
Staten Island                30.941019

In [13]:
#But there may be a case where values maybe NaN values because np.average doesn't ignore the NaN values while computing
#to counter this there is another function that can be used which excludes NaN values
df.groupby('neighbourhood_group').agg({'number_of_reviews':np.nanmean})  #as you can see there is no warnings as well

                     number_of_reviews
neighbourhood_group
Bronx                        26.004583
Brooklyn                     24.202845
Manhattan                    20.985596
Queens                       27.700318
Staten Island                30.941019

In [18]:
# we can also extend this dictionary to aggregate by multiple functions or multiple columns
df.groupby('neighbourhood_group').agg({'number_of_reviews':(np.nanmean,np.nanstd),'price':np.nanmean,
                                       'reviews_per_month':np.nanmean})

                    number_of_reviews                  price reviews_per_month
                              nanmean     nanstd     nanmean           nanmean
neighbourhood_group
Bronx                       26.004583  42.214774   87.496792          1.837831
Brooklyn                    24.202845  44.344868  124.383207          1.283212
Manhattan                   20.985596  42.572277  196.875814          1.272131
Queens                      27.700318  51.955853   99.517649          1.941200
Staten Island               30.941019  44.830766  114.812332          1.872580

In [19]:
# Take a moment to make sure you understand the previous cell, since it's somewhat complex. First, we're doing a groupby on the 
#dataframe object by the column cancellation policy. This creates a new groupby object. Then we're invoking the agg function on 
#that object. The agg function is going to apply one or more functions that we specify to the group dataframes and return a 
#single row per dataframe/group. When we call this function, we sent it two dictionary entries, each with the key indicating 
#which column we wanted functions applied to. For the first column, we actually supplied a tuple of two functions. Note that 
#these are not function invocations, like np.nanmean with parentheses after it, or function names like "nanmean" and a string. 
#They are actually references to functions which will return single values. The groupby object will recognize the tuple and call
#each function in order on the same column. The results will then be in a hierarchical index, but since they are columns they 
#don't show up as an index per se, then we indicated that another column and a single function we wanted to be run should be 
#run.

## Transformation

In [20]:
# Transformation is different from aggregations. Where agg returns a single value per column, so one row per group, transform
#returns an object that is the same size as the group. Essentially, it broadcasts the function you supply over the group 
#dataframe, returning a new dataframe. This makes combining data later quite easy.

In [21]:
#For instance, suppose we wanted to include the average rating values in a given group by neighbourhood_group, but preserve the 
#dataframe shapes so that we could generate a difference between an individual observation and the sum.

cols = ['neighbourhood_group','number_of_reviews']
transform_df = df[cols].groupby('neighbourhood_group').transform(np.nanmean)
transform_df.head()

   number_of_reviews
0          24.202845
1          20.985596
2          20.985596
3          24.202845
4          20.985596

In [22]:
#now i'll just rename the columns
transform_df.rename({'number_of_reviews':'mean_reviews'}, axis = 'columns', inplace = True)
df = df.merge(transform_df, left_index = True, right_index = True)
df.head()

,neighbourhood_group,number_of_reviews,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,last_review,reviews_per_month,calculated_host_listings_count,availability_365,mean_reviews
0,Brooklyn,9,2539,Clean & quiet apt home by the park,2787,John,Kensington,40.64749,-73.97237,Private room,149,1,2018-10-19,0.21,6,365,24.202845
1,Manhattan,45,2595,Skylit Midtown Castle,2845,Jennifer,Midtown,40.75362,-73.98377,Entire home/apt,225,1,2019-05-21,0.38,2,355,20.985596
2,Manhattan,0,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Harlem,40.80902,-73.94190,Private room,150,3,NaN,NaN,1,365,20.985596
3,Brooklyn,270,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,2019-07-05,4.64,1,194,24.202845
4,Manhattan,9,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,2018-11-19,0.10,1,0,20.985596

## Filtering

In [23]:
# The Group-by object is built-in support for filtering groups as well. It's often that you'll want to group by some features 
#then make some transformations to the groups, then drop certain groups as part of your cleaning routine. The Filter Function 
#takes in a function which it applies to each group data frame and returns either a true or false, depending on whether that 
#group should be included in the results.

In [27]:
#For instance, we want only those groups which have a mean rating above 30 included in our results
df.groupby('neighbourhood_group').filter(lambda x: np.nanmean(x['number_of_reviews'])>30)

,neighbourhood_group,number_of_reviews,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,last_review,reviews_per_month,calculated_host_listings_count,availability_365,mean_reviews
169,Staten Island,166,42882,New York room with a view,185978,Newyorkroomwithaview,St. George,40.64524,-74.08088,Private room,70,2,2019-06-13,1.66,1,312,30.941019
249,Staten Island,193,62452,A SpeciaL!! Private Room in NY,303939,Lissette,Tompkinsville,40.63536,-74.08537,Private room,36,2,2019-06-25,1.85,6,360,30.941019
250,Staten Island,147,62461,B NYC Staten Alternative...,303939,Lissette,Tompkinsville,40.63627,-74.08543,Private room,37,2,2019-06-10,1.44,6,0,30.941019
251,Staten Island,177,62787,C Private Room By The Ferry,303939,Lissette,Tompkinsville,40.63518,-74.08546,Private room,37,2,2019-07-02,1.71,6,320,30.941019
256,Staten Island,333,63320,D Private Che@p Room 2 Explore NYC,303939,Lissette,Tompkinsville,40.63481,-74.08519,Private room,36,2,2019-07-02,3.19,6,340,30.941019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48441,Staten Island,0,36267546,A Home Away From Home,233485864,Jeannie,New Dorp Beach,40.56506,-74.10240,Private room,40,1,NaN,NaN,2,341,30.941019
48446,Staten Island,0,36270376,"Beautiful home on Staten Island, walk to ferry",444904,Janine,St. George,40.64005,-74.07987,Entire home/apt,100,365,NaN,NaN,1,342,30.941019
48533,Staten Island,0,36310353,Staten Island Resort minutes from ferry! Amazi...,28586423,Danielle,Stapleton,40.62878,-74.07301,Entire home/apt,450,5,NaN,NaN,1,88,30.941019
48649,Staten Island,0,36355110,PRIVATE ROOM IN STATEN ISLAND -FOR LADIES ONLY,201187671,Tuana,Shore Acres,40.61283,-74.06625,Private room,54,4,NaN,NaN,1,89,30.941019
48799,Staten Island,1,36438336,Seas The Moment,211644523,Ben,Great Kills,40.54179,-74.14275,Private room,235,1,2019-07-07,1.00,1,87,30.941019

Group-by is a powerful and commonly used tool for data cleaning and data analysis. Once you've grouped the data by some category, you have a data frame of just those values. And you can conduct aggregate analysis on the segments that you're interested in. The Group-by function follows a Split Apply combine approach. First the data is split into some groups. Then you apply some transformation filtering or aggregation, and then the results are automatically combined for you by Pandas.